

#about{
    height:100vh;
    position: relative;
     background-position: center;
    background-size: cover;
    background-image: url(../img/error-in-php-wordpress-code-picjumbo-com.jpg);
    
}
.about-header{
    height:100%;
    background-color: rgba(22, 22, 22, 0.9);
}
.container-about{
    height:100%;
    width:100%;
}
.about-photo{
    position: absolute;
    background-image: url(../img/zdjecie-portfolio2.jpg);
    height:250px;
    width:200px;
     background-position: center;
    background-size: cover;
    transform: translate(70%,50%);
    display: inline-block;

}
.about-text{
    position: absolute;
    height:350px;
    width: 50%;
    display: inline-block;
    
}
.about-text p {
       color:#696e9e;
    font-size:1.5rem;
}