

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #0B171F;
    margin: 0; 
    overflow: hidden;
}

.site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
  
}

.side-menu-trigger {
    border: 0;
    border-radius: 5px;
    background: #ffffff;

}

.side-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 300px;
    top: 20px;
    padding: 0;
    background-color: rgba(22, 22, 22, 0.9);
    transition: 0.3s transform ease-in-out;
     z-index: 100;
     justify-content: center;
    font-weight: bold;

}

.side-menu ul {
    position: absolute;
    display: flex;
    height: calc(100% - 20px);
    flex-wrap: wrap;
    margin: 100px 10px;
    padding: 0;
    list-style-type: none;
    align-content:flex-start;
    
}

.side-menu ul li {
    display: flex;
    height: 30px;
/*    background: #ffffff;*/
    flex-basis: 100%;
    margin-top: 20px;
    color: #696e9e;
    overflow: hidden;

}

.side-menu ul li a {
    display: flex;
    color: #696e9e;
    font-size:1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.6s;
  
    
}
.side-menu ul li a:hover {border-top: solid 3px #696e9e;
border-bottom: solid 3px #696e9e;
color:#fff;
padding: 10px;}
/*
.side-menu-trigger:focus ~ .side-menu,
.side-menu:hover {
    transform: translateX(-300px);
}
*/
.social-icons{
    margin-top:300px;
    position: absolute;
    display: inline-block;
    margin-left: 15px;
  
}
.social-icons a i{
    text-align: center;
    padding:15px;

    color:#696e9e;
    transition: 0.5s;
}
.social-icons a i:hover{
    -webkit-transform: scale(1.1);
          transform: scale(1.3);
  
    color:#fff;
   
}
#email{
    font-size: 15px;
    display: block;
    text-decoration: none;
    color:#696e9e;
}
#email:hover{
    color:#fff;
}

#header-container {
    background-image: url(../img/error-in-php-wordpress-code-picjumbo-com.jpg);
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header-mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
}

#header-container .main-header {
    position: absolute;
    transform: translate(-75%, -50%);
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
}

.header-h1 {
    font-weight: bold;
    font-size: 4rem;
    color:#696e9e;
    text-shadow: 1px 1px 1px white;
}