body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(22, 22, 22, 1);
    margin: 0;
    overflow: hidden;
}

.site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    width: 100%;

}

.side-menu-trigger {
    color: #696e9e;
    margin-top: 100px;
    margin-right: 40px;

}

.side-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 300px;
    top: 20px;
    padding: 0;
    background-color: rgba(22, 22, 22, 1);
    transition: 0.3s transform ease-in-out;
    z-index: 100;
    justify-content: center;
    font-weight: bold;

}

.side-menu ul {
    position: absolute;
    display: flex;
    height: calc(100% - 20px);
    flex-wrap: wrap;
    margin: 100px 10px;
    padding: 0;
    list-style-type: none;
    align-content: flex-start;

}

.side-menu ul li {
    display: flex;
    height: 30px;

    flex-basis: 100%;
    margin-top: 20px;
    color: #696e9e;
    overflow: hidden;

}

.side-menu ul .categories .categories-a {
    display: flex;
    color: #696e9e;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.6s;


}

.side-menu ul .categories .categories-a:hover {
    border-top: solid 3px #696e9e;
    border-bottom: solid 3px #696e9e;
    color: #fff;
    padding: 10px;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-icons a {
    display: flex;
    padding: 10px 10px;
}

.social-icons a i {
    display: flex;
    color: #696e9e;
    transition: 0.5s;
    padding: 10px 10px;
    transition: 0.5s;
}

.social-icons i:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.7);

    color: #fff;

}

#email {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
    color: #696e9e;
    box-sizing: border-box;
    width: 100%;

}

#email:hover {
    color: #fff;
}

#header-container {
    background-image: url(../img/error-in-php-wordpress-code-picjumbo-com.jpg);
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header-mask {
    background-color: rgba(22, 22, 22, 0.9);
    ;
    height: 100%;
    width: 100%;
    position: absolute;
}

#header-container .main-header {
    position: absolute;
    transform: translate(-75%, -50%);
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
}

.header-h1 {
    font-weight: bold;
    font-size: 5rem;
    color: #696e9e;
}

.header-h2 {
    font-size: 2.5rem;
}
